python>=3.10
r-base>=4.2.0
snakemake-minimal
subread
frictionless
pyyaml
pandas
seaborn
bioconductor-deseq2
bioconductor-clusterprofiler
bioconductor-gseabase
bioconductor-sva
r-annotables
r-ashr
r-nmf
r-openxlsx
r-tidyverse
r-viridis
r-uwot
